<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{error.forbidden.title}">Access Denied</title>
  <link rel="stylesheet" th:href="@{/css/public/error/error-page.css}">
</head>
<body>
<div class="page-wrapper">
  <div class="container">
    <div class="title">
      <h2 th:text="#{error.forbidden.title}">Access Denied</h2>
    </div>
    <div class="description">
      <h4 th:text="#{error.forbidden.desc}">Sorry, but you don't have access to this page</h4>
    </div>
    <div class="navigation">
      <a class="navigation__link" th:href="@{/account}" th:text="#{button.account}">Account Page</a>
    </div>
  </div>
</div>
</body>
</html>